<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About me</div>
            <p class="paragraph-text justify-text">
                Hi! 
                I am currently majoring in Computer Science at Korea University.
                I like melting ideas that come to my mind with codes.
                Especially, I like reading NLP related papers and implement them.
                I am interested in adapting and improving various NLP methods to Korean.
                You can see the code I implemented in my github<a href="https://github.com/redlion0929"></a>.
                See CV for more information.
                </p>
        </div>
    </section>
</div>
