<div class="section-wrapper">
    <section class="section awards" id="awards">
        <div id="awards-text">
            <div class="section-heading">Awards and Honors</div>
            <p class="paragraph-text justify-text">
                <table border="0.5">
                    <tr>
                        <th>Year</th>
                        <th>Awards and Honors</th>
                    </tr>
                    <tr>
                        <td>Jul.2017</td>
                        <td>Semester High Honors, Korea University, Korea (GPA : 4.0)</td>
                    </tr>
                    <tr>
                        <td>Jan.2018</td>
                        <td>Semester High Honors, Korea University, Korea (GPA : 4.0)</td>
                    </tr>
                    <tr>
                        <td>Jul.2018</td>
                        <td>Semester High Honors, Korea University, Korea (GPA : 4.0)</td>
                    </tr>
                    <tr>
                        <td>Jan.2021</td>
                        <td>Semester High Honors, Korea University, Korea (GPA : 4.0)</td>
                    </tr>
                    <tr>
                        <td>Jul.2021</td>
                        <td>Semester High Honors, Korea University, Korea (GPA : 4.0)</td>
                    </tr>
                    <tr>
                        <td>Jul.2021</td>
                        <td>Dean's List, Korea University, Korea (GPA : 4.5)</td>
                    </tr>
                    <tr>
                        <td>Jan.2022</td>
                        <td>Semester High Honors, Korea University, Korea (GPA : 4.0)</td>
                    </tr>
                    <tr>
                        <td>Feb.2021 ~ Now</td>
                        <td>Yangyoung Foundation Scholarship Student, Yangyoung Foundation, Korea</td>
                    </tr>
                </table>
                </p>
        </div>
    </section>
</div>
