<div class="section-wrapper">
    <section class="section awards" id="awards">
        <div id="awards-text">
            <div class="section-heading">Awards and Honors</div>
            <p class="paragraph-text justify-text">
                        Jul.2017 : Semester High Honors, Korea University, Korea (GPA : 4.0)<br>
                        Jan.2018 : Semester High Honors, Korea University, Korea (GPA : 4.0)<br>
                        Jul.2018 : Semester High Honors, Korea University, Korea (GPA : 4.0)<br>
                        Jan.2021 : Semester High Honors, Korea University, Korea (GPA : 4.0)<br>
                        Jul.2021 : Semester High Honors, Korea University, Korea (GPA : 4.0)<br>
                        Jul.2021 : Dean's List, Korea University, Korea (GPA : 4.5)<br>
                        Jan.2022 : Semester High Honors, Korea University, Korea (GPA : 4.0)<br>
                        Jul.2022 : Dean's List, Korea University, Korea (GPA : 4.5)<br>
                        Feb.2021 ~ Feb.2023 : Yangyoung Foundation Scholarship Student, Yangyoung Foundation, Korea<br>
                        Jan.2023 : Semester High Honors, Korea University, Korea (GPA : 4.0)
                </p>
        </div>
    </section>
</div>
