<div class="section-wrapper">
    <section class="section awards" id="awards">
        <div id="awards-text">
            <div class="section-heading">Awards and Honors</div>
            <p class="paragraph-text justify-text">
                Jul.2017 :	Semester High Honors, Korea University, Korea<br>
                Jan.2018 :  Semester High Honors, Korea University, Korea<br>
                Jul.2018 : Semester High Honors, Korea University, Korea<br>
                Jan.2021 : Semester High Honors, Korea University, Korea<br>
                Jul.2021 : Semester High Honors, Korea University, Korea<br>
                Jul.2021 : Dean's List, Korea University, Korea<br>
                Jan.2022 :	Semester High Honors, Korea University, Korea<br>

                Feb.2021 ~ Now : Yangyoung Foundation Scholarship Student, Yangyoung Foundation, Korea<br>

                </p>
        </div>
    </section>
</div>
