<div class="section-wrapper">
    <section class="section publications" id="publications">
        <div id="publications-text">
            <div class="section-heading">Publications</div>
            <p class="paragraph-text justify-text">
                <ol>
                    <li>
                        <a href = "https://www.mdpi.com/2076-3417/12/9/4099"><b>Considering commonsense in solving QA : Reading Comprehension with Semantic Search and Continual Learning</b></a>,
                        Seungwon Jeong, Dongsuk Oh[*], Kinam Park, Heuiseok Lim (*: equal contributions)<br>
                        Applied Sciences, 2022
                    </li>
                    <li>
                        <b>You Truly Understand What I Need: Intellectual and Friendly Dialogue Agents grounding Knowledge and Persona</b></a>,
                        Jungwoo Lim, Myugnhoon Kang[*], Yuna Hur[*], Seung Won Jeong[*], Jinsung Kim[*], Yoonna Jang, Dongyub Lee, Hyesung Ji, DongHoon Shin, Seungryong Kim and Heuiseok Lim (*: equal contributions)<br>
                        The 2022 Conference on Empirical Methods in Natural Language Processing (EMNLP 2022 Findings)
                    </li>
                    <li>
                        <b>모델 성능 향상을 위해 모델링이 필수일까? Data-Centric 접근법을 통한 인코더 성능 개선 연구</b></a>,
                        정승원 ; 김수완[*]; 박찬준 (*: equal contributions)<br>
                        한국정보과학회, 2022
                    </li>
                    <li>
                        <b>Vector Size와 검색 속도는 비례 관계인가? 의미 기반 검색에서 Index Type에 따른 검색 속도 경험적 연구 </b></a>,
                        박찬준 ; 최유정[*]; 서대원[*]; 김민정[*]; 신수원[*]; 윤주환[*]; 정승원[*]; 배재경 (*: equal contributions)<br>
                        한국정보과학회, 2022
                    </li>
                </ol>
            </p>
        </div>
    </section>
</div>
