<div class="section-wrapper">
    <section class="section publications" id="publications">
        <div id="publications-text">
            <div class="section-heading">Publications</div>
            <p class="paragraph-text justify-text">
                <ol>
                    <li>
                        Considering commonsense in solving QA : Reading Comprehension with Semantic Search and Continual Learning,
                        Seungwon Jeong; Dongsuk Oh; Kinam Park; Heuiseok Lim<br>
                        Applied Sciences, 2022
                    </li>
                </ol>
            </p>
        </div>
    </section>
</div>
